{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

{% endblock %}
{% block title %}Inicio Sesion{{ nombre }}{% endblock %}
{% block navbar %}

<div class="navbar navbar-inverse bg-inverse mi-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bienvenido</a>
        </div>
<!--Este if es para que cambie el navbar si el usuario inicio sesion -->
    {% if username %}
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"> 
                <li><a href="/salir">Salir</a></li> 
                <li><a href="/Venta">Ultimas Ventas</a></li>
                <li><a href="/Cliente">Base de Datos</a></li>
                <li><a href="/Buscliente">Buscar Cliente</a></li>
                <li><a href="/producto">Buscar Producto</a></li>
                <li><a href="/cantidad">Mayor Cantidad</a></li>
                <li><a href="/precio">Mayor Precio</a></li>              
            </ul>
        </div>
    {% else %}
       <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">                
                <li><a href="/iniciarsesion">Iniciar Sesion</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('es') }}
{% endblock %}
